:root {
    --dark-blue-300: #0A3871;
    --light-blue-100: #F3F5FC;
    --gray-400: #495057;
    --gray-500: #343A40;

}

* {
    font-family: 'Inter', sans-serif;
}

.c-card__body {
    background: var(--light-blue-100);
    width: 350px;
    height: 933px;

}

.c-header__image {
    position: absolute;
    width: 375px;
    height: 96px;
    left: 0px;
    top: 0px;

}

.c-section__input {}

.c-card__input-text {

    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
    color: var(--dark-blue-300);

    position: absolute;
    width: 343px;
    height: 48px;
    left: 16px;
    top: 152px;

}

.c-section__output {}

.c-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;

    position: absolute;
    width: 343px;
    height: 158px;
    left: 16px;
    top: 485px;

    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;


}

.c-card__wait {
    margin-top: 350px;
}

.c-buttons__encrypt {
    gap: 8px;
    width: 343px;
    height: 67px;
    background: var(--dark-blue-300);
    border-radius: 24px;
    color: var(--light-blue-100);
    margin-bottom: 12px;

}

.c-buttons__decrypt {
    background: var(--light-blue-100);
    box-sizing: border-box;
    gap: 8px;
    width: 343px;
    height: 67px;
    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
    color: var(--dark-blue-300);
    margin-bottom: 12px;

}

.c-card__mensage {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 32px;
    gap: 32px;
    position: absolute;
    left: 24px;
    top: 707px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}

.c-card__mensagem-text1 {
    width: 263px;
    height: 58px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 120%;
    text-align: center;
    color: var(--gray-500);
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
}

.c-card__mensagem-text2 {
    width: 263px;
    height: 48px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: var(--gray-400);
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.c-card__footer {
    display: flex;

}

.c-footer_icon {
    width: 40px;
    height: 40px;
}

/* 
ideia da letra a piscado e escrever alura e oracle 
colocar as rede socias 

*/