:root {
    --dark-blue-300: #0A3871;
    --light-blue-100: #F3F5FC;
    --gray-400: #495057;
    --gray-500: #343A40;
    --light-blue-200: #EFF1FA;
    --dark-blue-100: #609ED4;
    --dark-blue-400: #072B61;
    --dark-blue-500: #052051;
}

* {
    font-family: 'Inter', sans-serif;

}

html {
    height: 100vh;

}

body {
    background: var(--light-blue-100);
    overflow: hidden;
}

.c-header__logo {
    width: 50%;
    padding-left: 10px;
    position: relative;
}

main {
    display: flex;
    flex-direction: row;
    padding: 0 2rem 0 2rem;
    position: absolute;
    top: 0;
    margin: 50px;
    ;

}

.c-section__input {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    padding-top: 4rem;


}

.c-textarea__input {
    width: 30rem;
    height: 18rem;
    border: none;
    color: var(--dark-blue-300);
    text-transform: lowercase;
    font-weight: 400;
    font-size: 32px;
    outline: var(--dark-blue-300);
    overflow: hidden;
    resize: none;
    background: var(--light-blue-100);
}

.c-wait__icon {
    content: url('https://api.iconify.design/bi/exclamation-circle-fill.svg');
    color: var(--gray-500);
    width: 16px;
}

.c-wait {
    color: var(--gray-500);
    font-size: 14px;
    margin-top: 1rem;
    margin-right: 300px;
    padding-top: 80px;
}

.c-btns__decoder {
    display: flex;
    align-items: flex-end;


}

.c-btn__encrypt,
.c-btn__decrypt,
.c-btn__clear {
    width: 11rem;
    height: 3rem;
    border-radius: 1.3rem;
    cursor: pointer;
    margin: 10px;
    font-size: 16px;
}

.c-btn__encrypt {
    background: var(--dark-blue-300);
    color: var(--light-blue-100);
    border: none;
}

.c-btn__encrypt:hover {
    background: var(--dark-blue-400);
    transform: scale(1.0);
}

.c-btn__decrypt {
    background: var(--light-blue-100);
    box-sizing: border-box;
    border: 1px solid var(--dark-blue-300);
    color: var(--dark-blue-300);
}

.c-btn__decrypt:hover {
    background: var(--light-blue-200);
    transform: scale(1.0);
}


.c-btn__clear {
    background: var(--light-blue-100);
    box-sizing: border-box;
    border: 1px solid var(--dark-blue-300);
    color: var(--dark-blue-300);
}

.-c-btn__clear:hover {
    background: var(--light-blue-200);
    transform: scale(1.0);
}

.c-section__output {
    display: flex;
    flex-direction: column;
}

.c-textarea__output {
    width: 300px;
    height: 470px;
    background: white;
    background-image: url(../img/pesquisa.png);
    background-size: 90% 60%;
    background-repeat: no-repeat;
    border-radius: 32px;
    color: var(--dark-blue-300);
    resize: none;
    position: fixed;
    padding: 30px;
    font-size: 32px;
    margin-left: 2em;
    margin-bottom: 15em;
}

.c-textarea__output:focus {
    outline: none;
}

.c-mensage-text1 {
    width: 336px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    position: fixed;
    color: var(--gray-500);
    text-align: center;
    margin: 300px 0px 0px 80px;
    /* padding: 25px; */
}

.c-mensage-text2 {
    width: 336px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    color: var(--gray-400);
    position: fixed;
    text-align: center;
    margin: 370px 0px 0px 70px;
    /* padding: 30px; */
}

.c-btn__copy-text {
    background: var(--light-blue-100);
    box-sizing: border-box;
    width: 19rem;
    height: 3rem;
    border-radius: 1rem;
    border: 1px solid var(--dark-blue-300);
    border-radius: 24px;
    color: var(--dark-blue-300);
    z-index: 9999;
    margin-left: 7em;
    margin-top: 28rem;
    display: none;

}

.c-footer {
    background: var(--dark-blue-300);
    color: var(--light-blue-100);
    font-size: 14px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 999;

}

.c-container-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;

}

.c-footer_icon {
    margin: 8px;
    width: 24px;
}